<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Форма пользователя</title>
</head>
<body>
<h2 th:text="${user.id == null} ? 'Добавить пользователя' : 'Редактировать пользователя'">Форма</h2>

<form th:action="@{/save-user}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}"/>

    <label>Имя:</label><br/>
    <input type="text" th:field="*{name}" required/><br/><br/>

    <label>Фамилия:</label><br/>
    <input type="text" th:field="*{lastName}" required/><br/><br/>

    <label>Email:</label><br/>
    <input type="email" th:field="*{email}" required/><br/><br/>

    <button type="submit">Сохранить</button>
    <a th:href="@{/}">Отмена</a>
</form>
</body>
</html>